h1 {color: blue; font-size: 40px;}

p { font-size: small; 
    text-decoration: none; }
    
* {
    color:red;
}


.refrigerator {background-color:aquamarine;

}

#wasik {
    padding: 100px 50px 100px 50px;
    border: 1px solid gray;
    width: 30%; 
    height: 50px;
    display: block; 
    position: absolute;
}